<!DOCTYPE html>
<html>

<head>
    <title>Cyber Risk Scoring Engine</title>

    <!-- Google Site Verification -->
    <meta name="google-site-verification" content="Xw1MF6N9qBZCe2zXAdh7ndoC99-oCNstl3i4vXnOKAA" />

    <!-- LINK CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🔐 Cyber Risk Scoring Engine</h1>

    <p>Enter a website URL to analyze its security risk</p>

    <!-- FORM -->
    <form action="/check" method="post">

        <input type="text" name="url" placeholder="Enter website URL (https://example.com)" required>

        <br><br>

        <button type="submit">Check Risk</button>

    </form>

    <br>

    <!-- OPTIONAL INFO -->
    <p style="font-size:14px; color:gray;">
        This system checks phishing indicators like HTTPS, suspicious keywords, and URL structure.
    </p>

</div>

</body>

</html>